<% if @event.logo.present? %>
  <%= link_to image_tag(@event.logo.url(:thumb)), @event.logo.url, :target => "_blank" %>
<% end %>

<h1><%= @event.name %></h1>

<!-- 使用Helper 显示中文 -->
<!-- <h2><%= display_event_status(@event) %></h2> -->

<!-- 使用i18n来显示中文 -->
<h2><%= t(@event.status, :scope => "event.status") %></h2>

<!-- 显示event的类型 -->
<!-- <h2><%#= @event.category.name %></h2> -->

<!-- 兼容category是nil时处理,name在括号中成为变量需要加冒号 -->
<h2><%= @event.category.try(:name) %></h2>

<!-- 下面不能好显示html -->
<!-- <%#= simple_format @event.description %> -->

<!-- 下面任一都可以正常显示html内容,这种方式是有安全风险 -->
<!-- <%#= raw @event.description %> -->
<!-- <%#= @event.description.html_safe %> -->

<!-- 使用白名单过滤 -->
<%= sanitize @event.description %>

<p>
  <%= link_to "开始报名", new_event_registration_path(@event), :class => "btn btn-default"  %>
</p>
